<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.checked {
  color: orange;
  position:relative; 
  left:700px
}
</style>

<h2 style="padding: 10px 0;text-align: center; margin:15px 0;font-size:2.5em;font-weight: 400;font-family: Playfair Display ">Aktuelle Bewertungen</h2>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star" style="position:relative; left:700px"></span>
<span class="fa fa-star" style="position:relative; left:700px"></span>
<p style="padding: 10px 0;text-align: center;">3 Sterne aus 2796 Bewertungen</p>





<div id="DIV_1" style="position:relative; left:400px">
	<div id="DIV_2">
		 <b id="B_3">Ana</b> <small id="SMALL_4">17 Nov 2019 um 21:34</small> <span id="SPAN_5">zu empfehlen auf jeden fahl</span>
	</div>
	<div id="DIV_6">
		 <b id="B_7">Delta</b> <small id="SMALL_8">20 Nov 2019 um 8:21</small> <span id="SPAN_9">Sehr lecker</span>
	</div>
	<div id="DIV_10">
		 <b id="B_11">Opa</b> <small id="SMALL_12">25 Okt 2019 um 19:47</small> <span id="SPAN_13">Super lecker und super freundlich. Ich würde immer wieder bestellen und kann es nur empfehlen.</span>
	</div>
	<div id="DIV_14">
		 <b id="B_15">Anonym</b> <small id="SMALL_16">4 Okt 2019 um 2:51</small> <span id="SPAN_17">Die Bestellung ist nie angekommen</span>
	</div>
	<div id="DIV_18">
		 <b id="B_19">Lala</b> <small id="SMALL_20">25 Sep 2019 um 20:14</small> <span id="SPAN_21">Das Pho hat unsere Erwartungen übertroffen! Wir fühlten uns wieder wie im Urlaub</span>
	</div>
	<div id="DIV_22">
		 <b id="B_23">Anonym</b> <small id="SMALL_24">Heute</small> <span id="SPAN_25"><textarea id="text" #text>
		</textarea></span>
		<button (click)="be()">
            Bewertung abgeben !
        </button>
	</div>
</div>


