
  <h3 class="h" >KONTAKT INFORMATIONEN</h3>
  <div class="h">
  <p >Sie können uns telefonisch unter 023456789 erreichen.</p>
   <div>TUV Restaurant</div>
   <div> Martinsufer 1 </div>
   <div>54292 Trier </div>

 <h3>Lieferzeiten</h3>
     <div class="days">Montag : 17:30 - 00:30</div>
	  <div class="days">Dienstag : 17:30 - 00:30</div>
	<div class="days">Mittwoch : 17:30 - 00:3 </div>
	<div class="days">Donnerstag : 17:30 - 00:30</div>
		<div class="days">Freitag : 17:30 - 00:30</div>
		<div class="days">Samstag: 17:30 - 00:30</div>
		<div class="days">Sonntag: : 17:30 - 00:30</div>
				</div>
  <iframe class="center" width="400" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=martinskloster%20trier&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

